.gallery {
  margin: 1rem;
  border: 0.2rem solid #333;
  display:inline-block;
  width: 20rem;
  padding: 0.5rem;
  background-color: lightgray;
}

.gallery:hover {
  border: 0.5rem solid #6495ED;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 1rem;
  text-align: center;
}

.intro {
  font-size: x-large;
  padding: 0rem 2rem;
}
