h1 {
  color: #6495ED;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

header ul {
  list-style-type: none;
  margin: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  background-color: #333;
}
header li {
  float: left;
}
header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
header li a:hover {
  background-color: #111;
}

.active {
  background-color: #6495ED;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  font-size: large;
  background-color: #dcdcdc;
}
.about {
  font-size: large;
}

