hr {
  border: 1.5px solid rgba(153, 153, 153, 0.368);
}

.resume {
  margin: 1rem;
  margin-top: 2rem;
}

.resume a{
  color: white;
  background-color: #6495ED;
  padding:  0.5rem 1rem;
  text-decoration: none;
  font-size: 30px;
}

.resume a:hover {
  background-color: #4980e7;

}

.information ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.information li {
  display: inline;
}

.information li a {
  display: block;
  color: #6495ED;
  padding: 1rem;
  text-decoration: none;
  font-size: x-large;
}

.information li a:hover {
  color: #4980e7;
}
