body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #6495ED;
  text-align: center;
  font-size: 250%;
  margin: 0;
  margin-bottom: 0.5rem;
}

.about h3 {
  color: #6495ED;
  text-align: center;
  text-decoration: overline;
  margin: 0;
  margin-bottom: 1rem;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  border: 0px;
  border-bottom: 10px;
  border-style: solid;
  border-color: #42467e;
  font-size: x-large;
  margin-bottom:1rem;
}


.branding {
  margin: .5rem;
}

.branding img {
  width: 70px;
}


.navbar ul {
  display: flex;
  margin: 0;
  padding: 0rem;
  padding-right: 2rem;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar li:hover {
  background-color: #444;
}

.toggle-button {
  position: absolute;
  top: 1.8rem;
  right: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 645px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar {
    display: none;
    width: 100%;
  }

  .navbar ul {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .navbar ul li {
    text-align: center;
  }

  .navbar ul li a {
    padding: .5rem, 1rem;
  }

  .navbar.active {
    display: flex;
  }

}

.active-page {
  background-color: #6495ED;
}

body {
  font-size: larger;
  background-color: #dcdcdc;
  box-sizing: border-box;
}

.about {
  font-size: x-large;
  padding: 0rem 2rem;
}

.hero img{
  width: 20rem;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 3rem;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.information {
  font-size: larger;
  padding: 0rem 2rem;
}

.information ul {
  list-style-type: none;
  margin: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow: hidden;
  text-align: center;
}

.information li {
  display: inline-block;
}

.information li a {
  display: block;
  color: #6495ED;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: x-large;
}

.information li a:hover {
  color: #111;
}

@media(max-width: 1000px){
  .hero img {
    width: 80%;
    padding-right: 0;
  }

}

@media(max-width:800px){
  .wrapper{
    display: block;
  }
  .hero {
    text-align: center;
  }
  .hero img {
    width: 50%;
  }
}

.sendmsg {
  text-align: center;
  display: block;
  background-color: lightgrey;
  border: .4rem;
  border-style: solid;
  border-color: #6495ED;
  margin: 2rem;
}

.message {
  text-align: center;
}


button {
  margin: 1rem;
}

textarea {
  resize: vertical;
  overflow: hidden;
  margin: auto;
  display: block;
  margin-top: 2rem;
  width: 90%;
  height: 10rem;

}