
.brand {
  display: block;
  text-align: center;
  padding: 1rem;
}

.brand img {
  width: 20%;
  border: 0.3rem solid darkgrey;
  border-radius: 100%;
}

.brand img:hover {
  width: 20.5%;
}

nav {
  background-color: #333;
  border: 0;
  border-bottom: #42467e solid 10px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

}

.navbar li {
  list-style: none;
}

.navbar li a {
  display: block;
  color: white;
  padding: 1rem;
  font-size: 28px;
}

.navbar li:hover {
  background-color: #444;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  padding: 0.8rem;
}

.toggle-button:hover {
  background-color: #444;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.active {
  background-color: #42467e;
}

.active a:hover {
  background-color: #42467e;
}

@media (max-width: 525px) {
  nav {
    border: 0;
    border-right: #42467e solid 10px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-end;
  }
}
