
.card {
  display: block;
  background-color: #e2e2e2;
  margin: 1rem 0rem 1.5rem;
  border: .4rem;
  border-style: solid;
  border-color: #6495ED;
}

.intro {
  font-size: x-large;
  margin: 1rem;
}
